In [1]:
#from shapely.geometry import Point
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
from sqlalchemy import create_engine, text

In [3]:
database_name = 'scooters'    # Fill this in with your scooters database name 

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [5]:
engine = create_engine(connection_string)

In [6]:
engine

Engine(postgresql://postgres:***@localhost:5432/scooters)

In [9]:
table = '''
SELECT * 
FROM scooters 
LIMIT 100;
'''

with engine.connect() as connection:
    scooters = pd.read_sql(text(table), con = connection)

scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird