In [ ]:
#from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import seaborn as sns

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'scooters'    
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

## Are there any null values in any columns in either table?

In [ ]:
query = '''
SELECT *
FROM scooters
WHERE chargelevel IS NULL ;
'''



with engine.connect() as connection:
    scooters_null = pd.read_sql(text(query), con = connection)
scooters_null.info()

In [ ]:
scooters_null

## 1.During this period, seven companies offered scooters. How many scooters did each company have in this time frame?

In [ ]:
Sql_count_scooter = '''
SELECT DISTINCT companyname, sumdid
FROM scooters;
'''



with engine.connect() as connection:
    company_count = pd.read_sql(text(Sql_count_scooter), con = connection)
company_count

In [ ]:
company_count.groupby('companyname')['sumdid'].count().reset_index(name='count')

## Did the number for each company change over time?

In [ ]:
change_over = '''
SELECT pubdatetime::date AS date, companyname, COUNT(*) as count
FROM scooters
GROUP BY date, companyname
ORDER BY date, companyname;
'''



with engine.connect() as connection:
    over_time = pd.read_sql(text(change_over), con = connection)
over_time

## 
Query used for csv
SELECT EXTRACT(MONTH FROM pubdatetime) AS month,
       companyname,
       COUNT(*) AS count
FROM scooters
GROUP BY month, companyname
ORDER BY month, companyname;

In [ ]:
company_data_overtime = pd.read_csv('../data/company_data_overtime.csv')

In [ ]:
company_data_overtime['month']=company_data_overtime['month'].astype(str)

In [ ]:
company_data_overtime['count'] = company_data_overtime['count'].apply(lambda x: '{:.0f}'.format(x))

In [ ]:
g = sns.FacetGrid(company_data_overtime, col="companyname", height=6, col_wrap=3)
g.map_dataframe(sns.lineplot, x="month", y="count")
g.set_axis_labels("Month", "Count")
plt.show()

## Did scooter usage vary by company?

#
Query used for csv
SELECT EXTRACT(MONTH FROM pubtimestamp) AS month,
       companyname,
       COUNT(*) AS count
FROM trips
GROUP BY month, companyname
ORDER BY month, companyname;

In [ ]:
company_usage_overtime = pd.read_csv('../data/company_usage.csv')

In [ ]:
company_usage_overtime['month']=company_usage_overtime['month'].astype(str)

In [ ]:
g = sns.FacetGrid(company_usage_overtime, col="companyname", height=6, col_wrap=3)
g.map_dataframe(sns.lineplot, x="month", y="count")
g.set_axis_labels("Month", "Count")
plt.show()

## 2. According to Second Substitute Bill BL2018-1202 (as amended) (https://web.archive.org/web/20181019234657/https://www.nashville.gov/Metro-Clerk/Legislative/Ordinances/Details/7d2cf076-b12c-4645-a118-b530577c5ee8/2015-2019/BL2018-1202.aspx), all permitted operators will first clean data before providing or reporting data to Metro. Data processing and cleaning shall include:

In [ ]:
bill = '''
SELECT DISTINCT(companyname), COUNT(tripduration)
FROM trips
WHERE tripduration > 1440
GROUP BY companyname;
'''



with engine.connect() as connection:
    bill_permit = pd.read_sql(text(bill), con = connection)

bill_permit

In [ ]:
bill_2 = '''
SELECT DISTINCT(companyname), COUNT(tripduration)
FROM trips
WHERE tripduration < 1
GROUP BY companyname;
'''



with engine.connect() as connection:
    bill_permit_2 = pd.read_sql(text(bill_2), con = connection)

bill_permit_2

In [ ]:
bill_3 = '''SELECT DISTINCT(companyname), COUNT(tripduration) AS count_tripduration
FROM trips
WHERE tripduration BETWEEN 1 AND 1440
GROUP BY companyname;
'''
with engine.connect() as connection:
    bill_permit_3 = pd.read_sql(text(bill_3), con = connection)

bill_permit_3

## 3.The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
##STEP 1:
scooter_trips = '''
SELECT
      sumdid,
      companyname,
      COUNT(DISTINCT triprecordnum) AS trips
    FROM
      trips
    WHERE
       tripduration BETWEEN 1 AND 1440
    GROUP BY
      sumdid,
      companyname
      '''
with engine.connect() as connection:
    scoot_trips = pd.read_sql(text(scooter_trips), con = connection)

In [ ]:
##STEP 2:
scooter_days = '''
WITH scoot_dates AS (
SELECT sumdid, CAST(pubdatetime AS date) AS dd, companyname
  FROM scooters)
SELECT sumdid, companyname, COUNT(DISTINCT dd) AS days
FROM scoot_dates
GROUP BY sumdid, companyname
'''
with engine.connect() as connection:
    scoot_days = pd.read_sql(text(scooter_days), con = connection)

In [ ]:
scoot_days

In [ ]:
merged_data=scoot_trips.merge(scoot_days, on = ['sumdid','companyname'], how = 'outer')
merged_data.fillna(0, inplace=True)  # Replace NaN with 0

In [ ]:
merged_data

In [ ]:
# Dictionary mapping variations to standard names
company_name_mapping = {
    'Bird': 'Bird',
    'Bolt': 'Bolt Mobility', 
    'Bolt Mobility': 'Bolt Mobility',
    'Gotcha': 'Gotcha',
    'JUMP': 'Jump',  #"JUMP" and "Jump" to "Jump"
    'Jump': 'Jump',
    'Lime': 'Lime',
    'Lyft': 'Lyft',
    'SPIN': 'Spin',  #"SPIN" and "Spin"
    'Spin': 'Spin'}

In [ ]:
# Apply the mapping to standardize company names
merged_data['standardized_companyname'] = merged_data['companyname'].map(company_name_mapping)

In [ ]:
# Group by the standardized company name and summarize trips and days
summary_by_company = merged_data.groupby('standardized_companyname').agg({
    'trips': 'sum',
    'days': 'sum'
}).reset_index()

print("Summary by Company Name:")
print(summary_by_company)

## 4. Metro would like to know how many scooters are needed, and something that could help with this is knowing peak demand. Estimate the highest count of scooters being used at the same time. When were the highest volume times? Does this vary by zip code or other geographic region?

In [ ]:
# Query to determine peak demand
peak_demand_query = """
SELECT COUNT(*) AS peak_demand_count
FROM trips
WHERE tripduration BETWEEN 1 AND 1440
GROUP BY pubtimestamp
ORDER BY COUNT(*) DESC
LIMIT 1;
"""

# Query to identify highest volume times
# Peak top 10 times are on weekends/ 1 monday
highest_volume_times_query = """
SELECT pubtimestamp, COUNT(*) AS num_scooters_used
FROM trips
WHERE tripduration BETWEEN 1 AND 1440
GROUP BY pubtimestamp
ORDER BY COUNT(*) DESC
LIMIT 10;
"""

# Query to fetch start latitude and longitude
latitude_longitude_query = """
SELECT startlatitude, startlongitude
FROM trips
WHERE tripduration BETWEEN 1 AND 1440;
"""

# Execute the queries and fetch the results
with engine.connect() as connection:
    peak_demand_result = pd.read_sql(text(peak_demand_query), con = connection)
    highest_volume_times_result = pd.read_sql(text(highest_volume_times_query), con = connection)
    latitude_longitude_result = pd.read_sql(text(latitude_longitude_query), con = connection)
    
m = folium.Map(location=[latitude_longitude_result['startlatitude'].mean(), latitude_longitude_result['startlongitude'].mean()], zoom_start=12)

# Step 2: Create a MarkerCluster to plot all scooter usage points
marker_cluster = MarkerCluster().add_to(m)

# Step 3: Add markers to the map
for _, row in latitude_longitude_result.iterrows():
    folium.Marker(
        location=[row['startlatitude'], row['startlongitude']],
        popup=f"Scooter used at ({row['startlatitude']}, {row['startlongitude']})"
    ).add_to(marker_cluster)

# Print or further analyze the results
print("Peak demand count:", peak_demand_result['peak_demand_count'].values[0])
print("Highest volume times:")
print(highest_volume_times_result)

display(m)

In [ ]:
m.head()