In [1]:
#from shapely.geometry import Point
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
from sqlalchemy import create_engine, text

In [3]:
database_name = 'scooters'    # Fill this in with your scooters database name 

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scooters'

In [5]:
engine = create_engine(connection_string)

In [6]:
engine

Engine(postgresql://postgres:***@localhost:5432/scooters)

## Linking SQL to notebook above^

## Check out linked SQL code

In [7]:
table = '''
SELECT * 
FROM scooters 
LIMIT 100;
'''

with engine.connect() as connection:
    scooters100 = pd.read_sql(text(table), con = connection)

scooters100.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-20 18:06:31,36.149530,-86.808675,Powered-d75747ba-e545-ad2b-407f-263fae05f079,Powered,90.98,Scooter,0.3,Bolt
1,2019-07-20 18:06:31,36.168967,-86.786634,Powered-8cf29b3e-0ec9-dea2-0ee2-1a0d6cbbd7c5,Powered,80.76,Scooter,0.3,Bolt
2,2019-07-20 18:06:31,36.163171,-86.776020,Powered-56a0ca02-c848-2af2-52c3-80920436e95f,Powered,50.39,Scooter,0.3,Bolt
3,2019-07-20 18:06:31,36.148016,-86.809182,Powered-ae697d9a-4a9a-cd1c-c176-cc432f010ff1,Powered,90.13,Scooter,0.3,Bolt
4,2019-07-20 18:06:31,36.154118,-86.784531,Powered-dd368f22-dc98-0f73-297a-728d981fff99,Powered,74.24,Scooter,0.3,Bolt

### Null values in chargelevel from scooter table

In [8]:
## Are any values null
null_values_scooter = '''
SELECT * 
FROM scooters 
WHERE chargelevel IS NULL;
'''
with engine.connect() as connection:
    scooter_null = pd.read_sql(text(null_values_scooter), con = connection)
scooter_null

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-21 13:27:41,36.152916,-86.762120,Powered-78f12faa-60fb-82e0-b356-6c7ea446345a,Powered,None,Scooter,0.30,Bolt
1,2019-07-21 13:32:41,36.152935,-86.762147,Powered-78f12faa-60fb-82e0-b356-6c7ea446345a,Powered,None,Scooter,0.30,Bolt
2,2019-07-21 13:37:41,36.152895,-86.762121,Powered-78f12faa-60fb-82e0-b356-6c7ea446345a,Powered,None,Scooter,0.30,Bolt
3,2019-07-21 13:47:41,36.152886,-86.762145,Powered-78f12faa-60fb-82e0-b356-6c7ea446345a,Powered,None,Scooter,0.30,Bolt
4,2019-07-21 13:52:41,36.152881,-86.762130,Powered-78f12faa-60fb-82e0-b356-6c7ea446345a,Powered,None,Scooter,0.30,Bolt
...,...,...,...,...,...,...,...,...,...
765,2019-07-14 10:01:14,36.170887,-86.780699,Powered-829d875a-098f-ab20-620d-c1e5dbbacbd4,Powered,None,Scooter,0.15,Bolt
766,2019-07-14 10:06:15,36.170904,-86.780666,Powered-829d875a-098f-ab20-620d-c1e5dbbacbd4,Powered,None,Scooter,0.15,Bolt
767,2019-07-14 10:11:15,36.170898,-86.780673,Powered-829d875a-098f-ab20-620d-c1e5dbbacbd4,Powered,None,Scooter,0.15,Bolt
768,2019-07-14 10:16:15,36.170898,-86.780673,Powered-829d875a-098f-ab20-620d-c1e5dbbacbd4,Powered,None,Scooter,0.15,Bolt
769,2019-07-19 03:35:08,36.149658,-86.769732,Powered-a878a0e8-aaa5-dbac-a7a9-18461bd85ec5,Powered,None,Scooter,0.15,Bolt

In [10]:
##scooters data types

scooters100.dtypes

pubdatetime    datetime64[ns]
latitude              float64
longitude             float64
sumdid                 object
sumdtype               object
chargelevel           float64
sumdgroup              object
costpermin            float64
companyname            object
dtype: object

query = '''
SELECT * 
FROM scooters;
'''

with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

scooters.head()

In [ ]:
may_scooters = scooters[scooters['pubdatetime']==5]
may_scooters.head()

In [ ]:
table2 = '''
SELECT * 
FROM trips 
LIMIT 100;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(table2), con = connection)

trips.head()

### During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
scooter_count_sql = '''
SELECT DISTINCT companyname, COUNT(sumdid)
FROM scooters
GROUP BY companyname;
'''

with engine.connect() as connection:
    scooter_count = pd.read_sql(text(scooter_count_sql), con = connection)

scooter_count