In [1]:
#from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from sqlalchemy import create_engine, text

In [2]:
pip install sqlalchemy --upgrade

Requirement already satisfied: sqlalchemy in c:\users\sarah\anaconda3\envs\scooters\lib\site-packages (2.0.29)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sarah\anaconda3\envs\scooters\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sarah\anaconda3\envs\scooters\lib\site-packages (from sqlalchemy) (3.0.3)

In [3]:
from sqlalchemy import create_engine, text

In [4]:
database_name = 'scsooters' # Fill this in with your scooters database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
connection_string

'postgresql://postgres:postgres@localhost:5432/scsooters'

In [6]:
engine = create_engine(connection_string)

In [7]:
engine

Engine(postgresql://postgres:***@localhost:5432/scsooters)

In [8]:
table = '''
SELECT * 
FROM scooters 
LIMIT 100;
'''

with engine.connect() as connection:
    scsooters = pd.read_sql(text(table), con = connection)

scsooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird